<div class="row" id="Display_Status">
    <div class="col-6">
        <a class="card-title" style="float: left;">Project Name :@Session["Project_Name"]</a>
    </div>
    <div class="col-6">
        <a class="card-title " style="float: right;">Instance Name :@Session["Instance_Name"]</a>
    </div>
</div>