<style>
    .Class_span {
        color: white;
    }
</style>


        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-5 required">Old Password:</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="txtOldPassword" />
                                </div>
                                <div>
                                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblOldPassword">&nbsp;</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5 required">New Password:</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="txtNewPassword" />
                                </div>
                                <div>
                                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblNewPassword">&nbsp;</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5 required">Confirm Password:</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="txtCnfPassword" />
                                </div>
                                <div>
                                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCnfPassword">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        @Html.Hidden("RedirectToHome", Url.Action("Logout", "Login"))
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save" class="btn btn-success" id="btnSave" />
                </div>
            </div>
        </div>



<script>

    $(document).ready(function () {
        $('button[data-dismiss="modal"]').click(function () {
            $(this).parent().parent().parent().parent().modal('hide');
        })

        /*$("#txtOldPassword").focusout(*/
        function oldpasswordcheck() {
            var _oldpassword = $("#txtOldPassword").val().trim();
            if (_oldpassword == "") {
                $("#lblOldPassword").html("Please enter the  Password").show().fadeOut(2000);
            }
            else {
                $.ajax({
                    type: 'GET',
                    data: { password: _oldpassword },
                    url: '@Url.Action("OldPasswordcheck","Home")',
                    async: false,
                    success: function (response) {
                        if (response == "error") {
                            $("#lblOldPassword").html("Please enter the Old Password").show().fadeOut(2000);
                            $("#txtOldPassword").val("");
                        }
                        else {
                            return true;
                        }
                    }
                });
            }
        }

        function oldnewpassword() {
            var _password1 = $("#txtNewPassword").val().trim();
            var _oldpassword1 = $("#txtOldPassword").val().trim();
            if (_password1 == _oldpassword1) {
                $("#txtNewPassword").val("")
                return false;
            }
        }
    
        function cnfpassword() {
            var str = $("#txtNewPassword").val().trim();
            var str1 = $("#txtCnfPassword").val().trim();
            if (str != str1) {
                $("#txtCnfPassword").val("")
                return false;
            }
        }

        $("#btnSave").click(function () {

            var _newPassword = $("#txtNewPassword").val().trim();
            var _cnfPassword = $("#txtCnfPassword").val().trim();
            var _oldpassword1 = $("#txtOldPassword").val().trim();

            var model = {
                Password: _newPassword
            }
           var a= oldpasswordcheck();
            debugger;
            if (_newPassword == "") {
                $("#lblNewPassword").html("Please enter the New Password").show().fadeOut(5000);
                $("#txtNewPassword").val("");
            }
            else if (oldnewpassword() == false) {
                $("#lblNewPassword").html("Please enter the New Password").show().fadeOut(5000);
            }
            else if (_cnfPassword == "") {
                $("#lblCnfPassword").html("Please enter the Confirm Password").show().fadeOut(5000);
            }
            else if (cnfpassword() == false) {
                $("#lblCnfPassword").html("Please enter the Confirm Password").show().fadeOut(5000);
            }
            else {
                
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdatePassword", "Home")',
                    data: model,
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('Password Updated successfully..Kindly Login Again!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            
                            setTimeout(Redirect, 3000);
                            location.href = $("#RedirectToHome").val();
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });
</script>

