################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LocalProAccDB
/packages
/ProAcc/bin
/ProAcc/obj
/ProACC_DB/Properties
/ProACC_DB/obj
/ProACC_DB/bin
/ProAcc/Asset/UploadedFiles
/LocalDb
/ProAcc/Asset/Log
/ProAcc/Asset/css/Loader.css
