<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Error_filePath" value="~/Asset/Log/" />
    <add key="Upload_filePath" value="~/Asset/UploadedFiles/" />
    <add key="Upload_filePath_Temp" value="~/Asset/UploadedFiles/Temp" />
    <add key="Upload_pptPath" value="~/Asset/Uploadedppt/" />
    <add key="Sample_pdfPath" value="~/Asset/Uploadedppt/Sample.pdf" />
    <add key="Logo_Path" value="~/Asset/images/promantus-new-logo.PNG" />
    

    <!--Mail Settings-->
    <!--<add key="Mail_Client" value="smtp.gmail.com" />
    <add key="Mail_UserName" value="manojrmbytest@gmail.com" />
    <add key="Mail_Password" value="manojtest" />-->

    <add key="Mail_Client" value="smtp.office365.com" />
    <add key="Mail_UserName" value="u95tgcCrRbWSVpW/dYu9UluJThcYeUU4WzlFFld43EE=" />
    <add key="Mail_Password" value="DImgJIkQCiG+E82MNt8eMw==" />

    <add key="Mail_FolderPath" value="~/Asset/MailTemplate/" />
    <!--<add key="Mail_CheckInterval" value="3600000" />-->
    <add key="Mail_CheckInterval" value="10000" />
    <!--<add key="Mail_UserName" value="promantustestingteamblg@gmail.com" />
    <add key="Mail_Password" value="Asd123!@#" />-->
    <add key="Mail_Port" value="587" />
    <add key="Mail_SSL" value="true" />
    <add key="Mail_EnableTest" value="false" />
    <add key="MailRunStatus" value="false" />
    <add key="PDFRunStatus" value="true" />
    <!--<add key="Mail_TestToID" value="akhil@promantus.com" />-->
    <add key="Mail_TestToID" value="manogekumar@promantus.com" />

    <!--CRYSTAL REPORT-->
    <add key="SERVERNAME" value="zwWmsga5RLm3bDAEY8yqbO0jXM2ZlWb6bVZBBi/h6WM=" />
    <add key="DATABASE" value="311HImk3EOuXbqQXPa0hvg==" />
    <add key="USERID" value="c/ehaxyIOy/woBmng13KKg==" />
    <add key="PASSWORD" value="R85NJq+Obo36EgYMK3AqqQ==" />
    
    <add key="INTEGRATEDSECURITY" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="rptLocation" value="~/Asset/images/CrystalReport.rpt" />
    <add key="OutputPath_pdf" value="~/Asset/UploadedFiles/Temp/QuestionnairePdf/" />

    <add key="Mail_ToAddress" value="akhil@promantus.com;sasidhar@promantus.com;" />
    <add key="Mail_CCAddress" value="manogekumar@promantus.com;gokul@promantus.com;" />


    <add key="Enc" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState timeout="20"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="login/Login"></forms>
    </authentication>
    <roleManager defaultProvider="userRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="userRoleProvider" type="ProAcc.BL.Model.UserRoleProvider" />
      </providers>
    </roleManager>
    <!--mode="RemoteOnly"-->
    <customErrors mode="On" defaultRedirect="~/ErrorLog/Error404" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/login/login/" />
    </customErrors>
  </system.web>

  <connectionStrings>
    <!--DemoTest-->
    <!--<add name="MysqlPath" connectionString="xMRXdvtMgbN8pOTiKvLlXj1JuRFCS/fE4wxNH5UouWKGWiz0otbEcy3pSkNhBYceXgAum3shIADmb+cONyo9K70D/CE0pSUCmfJJNB6rAFRd35YQDbf3kPWZEwoiNGhcDftSf1Db3TB2wFqZA0rgJXI03K+QnXaT4ltgODKy84u0cRtPxSqtUr7xChS64CAP" />
    <add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY+FMmj3OkdzZuYv0yS63MSjEPLaodKcCdK7x/1xGex5JRtT5BCNj0SPyCTJxfdNX60nZDC6yHIorfgOE69gAher31BvFL/dMayk0SJKLYgV2NxUEsechezLPZ+dDyx4EUsZzNt1qPt4dXaBZ/427M2qcyGt5+sSkwVfFbsJISIJI=" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.151;Initial Catalog=DemoTest;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--ProAccQA-->
    <!--<add name="DBconnection" connectionString="Data Source=123.176.34.15,4433\MSSQLSERVER;Initial Catalog=ProAccDevNew;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;Application Name=EntityFramework" />-->
    <!--ProAccDevNew-->
    <!--<add name="MysqlPath" connectionString="Data Source = 123.176.34.15;port=4043;Integrated Security=False; Initial Catalog = survey; User ID = TestLogin; Password = ASD123!@#;" />-->
    <add name="MysqlPath" connectionString="xMRXdvtMgbN8pOTiKvLlXj1JuRFCS/fE4wxNH5UouWKGWiz0otbEcy3pSkNhBYceXgAum3shIADmb+cONyo9K70D/CE0pSUCmfJJNB6rAFRd35YQDbf3kPWZEwoiNGhcDftSf1Db3TB2wFqZA0rgJXI03K+QnXaT4ltgODKy84u0cRtPxSqtUr7xChS64CAP" />
    <add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY0vK/1s00t3TlZveCaKCcUMj6ZAAF8GlU9miyQrGEkILCOs0vzArekZfYhiWaTcEEO4IRQPIg4E8OjXTw9S68dPDATQH2k42umhB7DvYY6rVeQebTR8meiHig2cY+WVYiPAaEdB8wynvWZZyRM0QymAhF/LjQAnoQBC+VPSAnkq0=" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.176.34.15,4433\MSSQLSERVER;Initial Catalog=ProAccDevNew;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--ProAccQA-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY0vK/1s00t3TlZveCaKCcUE7RIsxqlCnMxgeKFpj7bTX3UxS9SaFl5XNUclTwVEMeDnpc3VMgkkIA+lLWXRNn1C8KTDChmU1T9dzFGiF7/JasLdRyESm7SC8DnzAUxvT2j6kgbnqFo2KIV5jl4m+2CFLS/NXCS5m1TfLyvlCaO7o=" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.176.34.15,4433\MSSQLSERVER;Initial Catalog=ProAccQA;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--ProAccQA-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY0vK/1s00t3TlZveCaKCcUE7RIsxqlCnMxgeKFpj7bTX3UxS9SaFl5XNUclTwVEMeDnpc3VMgkkIA+lLWXRNn1C8KTDChmU1T9dzFGiF7/JasLdRyESm7SC8DnzAUxvT2j6kgbnqFo2KIV5jl4m+2CFLS/NXCS5m1TfLyvlCaO7o=" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.176.34.15,4433\MSSQLSERVER;Initial Catalog=ProAccQA;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--ProAccDemo-->
    <!--add name="MysqlPath" connectionString="atLkI3oL3CFtpO+ZOiP6J2mMntJJR7gO6xY4pbOsZbpup6CYse7qT34YrlcjovjJ8W6DCEQ9Sa9/55LxX+4gmtkuD55cfrr60KTVZD6w5mgnGCEe8VZskUuU/ejocf2cFrcsHiTeYC+sDF1ZOIfHVrb31jD5hQwMwYLSrXXejVuV4LCn0jCazVaoz+0JT21A" />
    <add name="DBconnection" connectionString="2JaSoX0Ub/oqsfkOS31yR3gAfjMiS2oGwXBGO5CnvFNfZDeZX9d3LYz9OlabbUsNu4AcuQfQ177mqt0PMBZElFK2YjArlZsvxaUbTi9s2w9sitooTQoB8htB8kHjSDuhCg766xrWTK50d3o/fAF0FIwwC8AY/KDlw2lqiAEpD+8LOem5dThuje4rNoExIeUX1DlXJ0OrAtzQCcxO7vJAIg==" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.151;Initial Catalog=ProAccDemo;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    


    <!--ProAccDemoTest-->
    <!--<add name="MysqlPath" connectionString="xMRXdvtMgbN8pOTiKvLlXj1JuRFCS/fE4wxNH5UouWKGWiz0otbEcy3pSkNhBYceXgAum3shIADmb+cONyo9K70D/CE0pSUCmfJJNB6rAFRd35YQDbf3kPWZEwoiNGhcDftSf1Db3TB2wFqZA0rgJXI03K+QnXaT4ltgODKy84u0cRtPxSqtUr7xChS64CAP" />
    <add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY0vK/1s00t3TlZveCaKCcUJAn/cNdTp/eNId5E1i5byBq4QZPQ04tVIfTPu1rNbltKlBRI9TvyYfKkDbBAgWRfe1mZ2PxgqRi8kikp8sgHgsyOYsgXLeUhmkAcn54fFfqJBvaeaX8NfzdSFb8eW82UyBIspgFDCk9PyYPs0Iwf2U=" />
    <add name="ProAccEntities" connectionString="metadata=res://*/ProAcc_DB_Entity.csdl|res://*/ProAcc_DB_Entity.ssdl|res://*/ProAcc_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.176.34.15,4433\MSSQLSERVER;Initial Catalog=ProAccDemoTest;User ID=sa;Password=promantus@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.8.40" newVersion="1.3.8.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.6.0" newVersion="6.7.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>
