
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<style>
    .outer {
    overflow-y: auto;
    height: 522px;
}
</style>
<div style="width:100%;">
    <div class="" style="font-size:12px !important;overflow-x:auto;">


        <table id="example" class="table table-striped table-bordered dataTable" style="width:83%!important;po">
            <thead>
                <tr>
                    @*<th>Relevance</th>*@
                    <th>Last Consistency Result</th>
                    <th>Exemption Possible </th>
                    <th>ID </th>
                    <th>Title </th>
                    <th>Lob Technology</th>
                    <th>Business Area </th>
                    <th>Catetory </th>
                    <th>Component </th>
                    <th>Status </th>
                    <th>Note</th>
                    <th>Application Area</th>
                    @*<th>Summary </th>*@
                    @*<th>S No</th>
                        <th>Custom Code Topic</th>
                        <th>Status</th>
                        <th>Application Component</th>*@
                    @*<th>Start date</th>
                        <th>Email</th>*@
                </tr>
            </thead>
            @*<tfoot>
                    <tr>
                        <th>S No</th>
                        <th>Custom Code Topic</th>
                        <th>Status</th>
                        <th>Application Component</th>

                    </tr>
                </tfoot>*@
        </table>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": '@Url.Action("GetData","PreConvertion")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    //{ "data": "Relevance" },
                    { "data": "Last_Consistency_Result" },
                    { "data": "Exemption_Possible"},
                    { "data": "ID" },
                    { "data": "Title" },
                    { "data": "Lob_Technology" },
                    { "data": "Business_Area" },
                    { "data": "Catetory" },
                    { "data": "Component" },
                    { "data": "Status" },
                    { "data": "Note"},
                    { "data": "Application_Area" }
                    //{ "data": "Summary" }
                    //{ "data": "S_No" },
                    //{ "data": "Custom_Code_Topic" },
                    //{ "data": "Status" },
                    //{ "data": "Application_Component" }
                    //{ "data": "AlternatePhone" },
                    //{ "data": "Email" }
                ]

            });
        } );
</script>