
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<script>
    window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
    });
</script>

@Html.Partial("_ProjectCreationCreate")
@*@Html.Partial("_ProjectCreationIndex")*@
<div id="divProjectCreation">

</div>

<script>
    function loadProjectCreation() {
    
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetProjects", "ProjectCreation")',

            success: function (response) {
            $("#divProjectCreation").html(response);
            },
            failure: function (response) {
            alert(response.responseText);
            },
            error: function (response) {
            alert(response.responseText);
            }
         });
    }

    $(document).ready(function () {
        loadProjectCreation();
    })
</script>