@model IEnumerable<ProAcc.BL.Model.AuditReport.ProjectMonitorModel>

@{
    ViewBag.Title = "AuditReports";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>
<a class="card-title">Audit List</a>
<hr />

<div class="row instanceRow" style="padding: 1em;">
    <div class="col-lg-12 ">
        <div class="row">

            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="exampleEmail" class="">Start Date</label>
                    <input type="text" id="StartDate" class="form-control" Value = "" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="position-relative form-group">
                    <label for="exampleEmail" class="">End Date</label>
                    <input type="text" id="EndDate" class="form-control" Value = "" />
                </div>
            </div>

            <div class="col-md-2">
                <label for="exampleEmail" class="">Action</label>
                @Html.DropDownList("Actiondropdown", new List<SelectListItem>
                 {
                   new SelectListItem { Text = "Insert", Value = "Insert"},
                   new SelectListItem { Text = "Update", Value = "Update"}
                   //new SelectListItem { Text = "Delete", Value = "Delete"}
                   }, "- Select -",new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <label for="exampleEmail" class="">Table</label>
                <input type="text" id="tablename" class="form-control"/>
            </div>

            <div class="col-md-2">
                <label for="exampleEmail" class="">.</label>
                <button class="btn-wide mb-2 mr-2 btn btn-primary form-control" id="SubmitSearch">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div id="divAuditIndex" style="max-width: 99.5%;">

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#prt").hide();
        function ddMonyy(Date) {
            const date = Date;
            const formattedDate = date.toLocaleDateString('en-GB', {
                day: 'numeric', month: 'short', year: 'numeric'
            }).replace(/ /g, '-');
            return formattedDate;
        }
        
        var currentTime = new Date();
        // First Date Of the month 
        var startDateFrom = new Date(currentTime.getFullYear(),currentTime.getMonth(),1);
        // Last Date Of the Month 
        var startDateTo = new Date(currentTime.getFullYear(),currentTime.getMonth() +1,0);
        
        var FromDt = ddMonyy(startDateFrom);
        var ToDt = ddMonyy(startDateTo);
        $("#StartDate").val(FromDt);
        $("#EndDate").val(ToDt);

        $("#tblAudit").dataTable({
            
        });
        loadAuditReport();
    });

    $("#StartDate").datepicker({
        dateFormat: "dd-M-yy",
        changeYear: true,
        changeMonth: true,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() + 1);
            $("#EndDate").datepicker("option", "minDate", dt);
        }
    });
    $('#EndDate').datepicker({
        dateFormat: "dd-M-yy",
        changeYear: true,
        changeMonth: true,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() - 1);
            $("#StartDate").datepicker("option", "maxDate", dt);
        }
    });   

    function loadAuditReport() {


        var startdate = $("#StartDate").val();
        var enddate = $("#EndDate").val();
        var ActionID =$("#Actiondropdown").val().trim();
        var tablename = $("#tablename").val().trim();

        model = {
            startdate: startdate,
            enddate: enddate,
            ActionID: ActionID,
            TABLE_NAME: tablename 
        }
        $.ajax({
            type: "GET",
            //data: null,
             data: model,
            url: '@Url.Action("GetAuditDatas","Report")',
            success: function (response) {
            $("#divAuditIndex").html(response);
            },
            failure: function (response) {
            alert(response.responseText);
            },
            error: function (response) {
            alert(response.responseText);
            }
         });
    }

    $("#SubmitSearch").click(function () {
       // debugger;
         loadAuditReport()
        @*var startdate =$("#StartDate").val().trim();
        var enddate =$("#EndDate").val().trim();
        var ActionID =$("#Actiondropdown").val().trim();
        var tablename = $("#tablename").val().trim();

        model = {
            startdate: startdate,
            enddate: enddate,
            ActionID: ActionID,
            TABLE_NAME: tablename 
        }
        $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuditDatas","Report")',
                data: model,
                    success: function (response) {
                        $("#divAuditIndex").html(response);
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
         });*@
             
    });
</script>
