

@{

    ViewBag.Title = "Create Customer";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<style>
    span{
        color: red;
    font-size: 14px;
    }
</style>
<a class="card-title">Create Customer</a>
<hr />
<div style="padding:1em;">
    <div class="row">
        <div class="col-6">

            @*<input type="hidden" id="customerid" />
        <input type="hidden" id="pcre_on" />
        <input type="hidden" id="pcre_By" />*@

            <div class="form-group">
                <label class="control-label col-md-4 required">Company Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtCompanyName" />
                    @*<span id="lblCompanyName" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblCompanyName">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Industry Sector</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtIndustrySector" />
                    @*<span id="lblIndustrySector" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblIndustrySector">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 required">Contact Person Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtContact" />
                    @*<span id="lblCustomerEmail" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblContact">&nbsp;</span>
                </div>
            </div>

        </div>

        <div class="col-6">
            
            <div class="form-group">
                <label class="control-label col-md-4 required">Contact Person Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtCustomerEmail" />
                    @*<span id="lblCustomerEmail" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblCustomerEmail">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Contact Person Phone</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtCustomerPhone" maxlength="10" />
                    @*<span id="lblCustomerPhone" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblCustomerPhone">&nbsp;</span>
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-primary" id="btnCustomerCreate" />
                <input type="button" value="Update" class="btn btn-info" id="btnCustomerUpdate" style="display:none" />
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="col-md-offset-2 col-md-12">
                <input type="button" value="Create" class="btn btn-primary" id="btnCustomerCreate" />
                <div class="col-lg-3" style="float:right;">
                    @Html.ActionLink("Back to List", "Index", "Customers")
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("RedirectToCustomerList", Url.Action("Index", "Customers"))

<script>

    $(document).ready(function () {
        $("#btnCustomerCreate").prop('disabled', true);

        $("#txtCompanyName").keypress(function (event) {
       
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
                $("#lblCompanyName").html("Not Allowed").show().fadeOut(5000);
                validatecustomer()
            }
            else {
                $("#lblCompanyName").html("").hide();
                validatecustomer()
            }
           
        });


        $('#txtCompanyName').on('focusout', function () {
            
            var CompName = $("#txtCompanyName").val().trim();
            var id = $("#customerid").val();
            if (CompName == "") {
                $("#lblCompanyName").html("Please Enter valid Company Name").show().fadeOut(5000);
                validatecustomer()
            }
            else {
                $.ajax({
                url: '@Url.Action("CheckCustomersNameAvailability", "Customers")',
                type: "GET",
                data: { namedata: CompName,id:id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblCompanyName").html("This Company Name is already in use").show();
                       validatecustomer()
                    }
                    else {
                        $("#lblCompanyName").html("").hide();
                       validatecustomer()
                    }

                },
                error: function (err) {

                    alert(err);
                }
            });
            }

        });


        $("#txtIndustrySector").keypress(function (event) {
       
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
                $("#lblIndustrySector").html("Not Allowed").show().fadeOut(2000);
                validatecustomer()
            }
            else {
                $("#lblIndustrySector").html("").hide();
                validatecustomer()
            }
        });

        $("#txtCustomerPhone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                event.preventDefault();
                $("#lblCustomerPhone").html("Numbers Only").show().fadeOut(5000);
                validatecustomer()
            }
            else {
                $("#lblCustomerPhone").html("").hide();
                validatecustomer()
            }
        });

        $("#txtCustomerPhone").blur(function () {
            
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g,'');
            if (phone.length != 10) {
                $("#lblCustomerPhone").html("Phone number must be 10 digits").show().fadeOut(2000);
                validatecustomer();
            }
            else {
                $("#lblCustomerPhone").html("").hide();
                validatecustomer();
            }
            
       });


        $("#txtCustomerEmail").on("blur", function (event) {
            
           var str = $(this).val();
           var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!filter.test(str)) {
                $("#lblCustomerEmail").html("Email is not valid").show().fadeOut(2000);
                validatecustomer();
            }
            else {
                $("#lblCustomerEmail").html("").hide();
                validatecustomer();
            }
        });

        function validatecustomer() {
            
           var CompanyName = $("#txtCompanyName").val().trim();
            var IndustrySector = $("#txtIndustrySector").val().trim();
            var custphone = $("#txtCustomerPhone").val().trim();
            var custEmail = $("#txtCustomerEmail").val().trim();

            var lblCompanyName = $("#lblCompanyName").text().trim(); 
            var lblIndustrySector = $("#lblIndustrySector").text().trim();
            var lblcustphone = $("#lblCustomerPhone").text().trim();
            var lblcustEmail = $("#lblCustomerEmail").text().trim();
        

            if (CompanyName.length > 0 && IndustrySector.length > 0 && custphone.length > 0 && custEmail.length > 0 &&
                lblCompanyName == "" && lblIndustrySector == "" && lblcustphone == "" && lblcustEmail == "" ) {

                $("#btnCustomerCreate").prop("disabled", false);
            }
            else {
                $("#btnCustomerCreate").prop("disabled", true);
            }

        }
    });


    $("#btnCustomerCreate").on("click", function () {
        
        var CompanyName = $("#txtCompanyName").val().trim();
        var IndustrySector = $("#txtIndustrySector").val().trim();
         var Contact=$("#txtContact").val().trim();
        var custphone = $("#txtCustomerPhone").val().trim();
        var custEmail=$("#txtCustomerEmail").val().trim();

        if (CompanyName == "") {
            $("#lblCompanyName").html("Please enter the Company Name").show().fadeOut(2000);
        }
        else if (IndustrySector =="")
        {
            $("#lblContact").html("Please enter the Contact Person").show().fadeOut(2000);
        }
            else if (IndustrySector =="")
        {
            $("#lblIndustrySector").html("Please enter the Industry Sector").show().fadeOut(2000);
        }
        else if (custphone == "")
        {
            $("#lblCustomerPhone").html("Please enter the Customer Phone").show().fadeOut(2000);
        }
        else if (custEmail=="")
        {
            $("#lblCustomerEmail").html("Please enter the Customer Email").show().fadeOut(2000);
        }
        else {
            $.ajax({
                    type: "POST",
                url: '@Url.Action("Create","Customers")',
                data: { Company_Name: CompanyName, Industry_Sector: IndustrySector, Phone: custphone, Email: custEmail ,Contact:Contact},
                    success: function (response) {
                        if (response == "success") {
                            alert("Customer Saved successfully!");
                            var url = $("#RedirectToCustomerList").val();
                            location.href = url;
                            //loadCustomer();
                            //$("#txtCompanyName").val("");
                            //$("#txtIndustrySector").val("");
                            //$("#txtCustomerPhone").val("");
                            //$("#txtCustomerEmail").val("");
                            //$("#btnCustomerCreate").show();
                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });



        }
    });


    

</script>