

<link href="~/Asset/css/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/Asset/css/jquery-confirm.less" rel="stylesheet/less" />
<script src="~/Asset/Jquery/jquery-confirm.min.js"></script>
<link href="~/Asset/Notiflix/notiflix-2.3.1.min.css" rel="stylesheet" />
<script src="~/Asset/Notiflix/notiflix-2.3.1.min.js"></script>
<script src="~/Asset/Notiflix/notiflix-aio-2.3.1.min.js"></script>
<style>
    .Class_span {
        color: red;
    }
</style>


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCustomError">&nbsp;</span>
        <div class="modal-body">
            <div class="row-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-5 required">User Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="txtUserName" />
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblUserName">&nbsp;</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 required">Email Id:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="txtEmailId" />
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblEmailId">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @Html.Hidden("RedirectToHome", Url.Action("Logout", "Login"))
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Reset Password" class="btn btn-success" id="btnSave" />
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('button[data-dismiss="modal"]').click(function () {
            $(this).parent().parent().parent().parent().modal('hide');
        })


        function checkEmail() {
            var emailId = $("#txtEmailId").val().trim();
            var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!regex.test(emailId)) {
                return false;
            }
            else {
                return true;
            }
        }

        function nameEmailCheck() {
            var _UserName = $("#txtUserName").val().trim();
            var _EmailId = $("#txtEmailId").val().trim();
            var status = false;
            if (checkEmail() == false) {
                $("#lblEmailId").html("Please enter the Correct Email Id").show().fadeOut(5000);
            }
            else if (_UserName == "") {
                $("#lblUserName").html("Please enter the User Name").show().fadeOut(2000);
            }
            else if (_EmailId == "") {
                $("#lblEmailId").html("Please enter the MailID").show().fadeOut(2000);
            }
            else {
                 $.ajax({
                    type: 'GET',
                     data: {
                         username: _UserName,
                         emailId: _EmailId
                     },
                     url: '@Url.Action("UserNamecheck", "Login")',
                     async: false,
                    success: function (response) {
                        if (response == "error") {
                            $("#lblCustomError").html("Given User Name && Mail-Id Does not match").show().fadeOut(6000);
                            status= false;
                        }
                        else if (response == "success") {
                            status= true;
                        }
                    }
                });
            }
            return status;
        }
        function Redirect() {
            location.reload();
        }

        $("#btnSave").click(function () {

            var _userName = $("#txtUserName").val().trim();
            var _emailId = $("#txtEmailId").val().trim();


            var model = {
                UserName: _userName,
                Emailid: _emailId
            }
            var Re = nameEmailCheck();
            if (Re) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ForgotPassword", "Login")',
                    data: model,
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('Password Reset Link Sent successfully..Kindly Check Email!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            setTimeout(Redirect, 3000);
                            //location.reload();
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
    });
</script>